* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #C0C0C0;
  overflow-x: hidden;
}

/*style header-----------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #D8BFD8;
}

.navigation {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 100%;
}

.navigation a {
  text-decoration: none;
 font-family: "Sans-serif",Verdana;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.navigation a:hover {
  color: #444444;
  background-color: #fff;
}

.overlay-content {
  display: none;
}

.openbtn {
  display: none;
}

.closebtn {
  display: none;
  font-family: "Kaushan Script", cursive;
}

/*style main---------------------------------*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 49px;
}

.img-div {
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: auto;
  max-width: 1500px;
    opacity: 0.8;
}

.text {
  /*position: absolute;*/
  position: relative;
  transform: translate(-85%, -150%);
  color: #ffffff;
}

.title {
  font-size: 60px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 0px;
  margin-top: -20px;
}

.img-caption {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Sans-serif",Verdana;
}
   marquee {
        width: 100%;
        padding: 10px 0;
        font-size: 24px;
  margin-top: -20px;
  font-family: "Sans-serif",Verdana;
}

      }

/*style biography section-------------------------*/
/* all h2 in the document */
h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: "Sans-serif",Verdana;
}

#biography {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  background-color: #f2f2f2;
  width: 100%;
}

.tribute-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 90px 40px 90px;
  font-family: "Sans-serif",Verdana;
}

.tribute-info img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.tribute-info p {
  width: 800px;
  line-height: 1.8;
  padding: 20px;
  font-size: 18px;
  text-align: justify;


}
/*style personal life section-------------------------------*/

#personal_life {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  background-color: #C0C0C0;
  width: 80%;
  text-align: left;
  padding-bottom: 65px;
  font-size: 18px;
  font-family: "Sans-serif",Verdana;
}

.religion
{
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.religion p
{
  
  text-align: justify;
  font-size: 18px;
  font-family: "Sans-serif",Verdana;
}



/*style artistry section-------------------------*/

#Albums {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 15px;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 90px 40px 90px;
}

.movies-left,
.movies-right,
.movies-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  padding: 15px;
  margin: 18px 0;
  font-family: "Sans-serif",Verdana;
}


.poster {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F8F8FF;
  padding: 15px;
  margin: 20px 10px;
  border-radius: 12px;
  border: 4px ;
  width: 450px;
  height: 350px;
  box-shadow: 5px 10px 14px rgb(81, 82, 82, 0.4);

            

}

.poster ul {
  padding-left: 30px;
}


/* style info section -----------------------------*/

#info {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.content-logos {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.logo1,
.logo2,
.logo3 {
  margin: 0 15px;
  display: none;
  width: 5px;
  border: 1px solid #ddd;
  border-radius:10%;
  padding: 10px;
  width: 50%;

}

.logo1,
.logo2,
.logo3 : hover{
box-shadow: 0 0 2px 1px rgba(0, 0, 0, );
}

.b1{
  background-color: black;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Sans-serif",Verdana;
}

.b1 :hover{
  color: #444444;
  background-color: #D8BFD8;
}


/* media queries for tablets with screens 768px-----------*/

@media screen and (max-width: 790px) {
  /* improve hero image position ------------------*/

  .text {
    transform: translate(-50%, -100%);
  }

  .title {
    font-size: 50px;
    margin-top: 10px;
  }

  .img-caption {
    font-size: 18px;
  }

  .tribute-info {
    flex-direction: column;
    padding: 50px 40px;
  }

  .tribute-info p {
    width: 90%;
  }

  .movies {
    padding: 40px;
    align-items: flex-start;
  }

  .movies-left,
  .movies-right,
  .movies-center {
    width: 50%;
    padding: 0;
    margin: 10px;
  }

  .poster {
    padding: 0 10px;
    margin: 10px;
    width: 100%;
    height: 207px;
  }

  .poster img {
    width: 110px;
    height: 110px;
  }

  .poster ul {
    padding-left: 30px;
    font-size: 16px;
  }


  /* media queries for mobiles with screens 375px-----------*/
}

@media screen and (max-width: 500px) {
  /* style navigation bar for small devices -----*/

  .navigation {
    display: none;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
 
   left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    padding-left: 40px;
  }
  /* improve hero image position ------------------*/
  .text {
    transform: translate(20%, 85%);
  }

  .title {
    font-size: 30px;
    margin-top: 10px;
  }

  .img-caption {
    font-size: 12px;
  }

  .tribute-info {
    flex-direction: column;
    padding: 50px 30px;
  }

  .tribute-info p {
    width: 100%;
    padding: 20px 0;
  }

  .movies {
    flex-direction: column;
    padding: 40px 30px;
    align-items: center;
  }

  .movies-left,
  .movies-right {
    width: 100%;
  }